---
const pages = ['home', 'about', 'services', 'blog', 'contact'];
---
<div class="container">
   <div class="top-nav-container">
      <a href="/" class="logo">
   
      </a>
      <button title="Open main menu" class="button has-icon menu-button-toggle" aria-label=" Open main menu">
         <span class="icon-wrap">
            <span class="icon icon-menu"></span>
         </span>
      </button>
   </div>
   <div class="top-nav-main">
      <nav class="main-nav">
         <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">Blog</a></li>
         </ul>
      </nav>
      <div class="contact-container">
         <a href="/contact" class="button primary-button">Contact</a>
      </div>
   </div>
</div>
<style>
   @layer components {
      .container .top-nav-container {
         align-items: center;
         display: flex;
         gap: .5rem;
      }

      .container {
         margin-inline: auto;
         padding-inline: 1rem;
      }

      .top-nav-main {
         display: var(--dsp-flex-md);
      }

      .main-nav {
         height: 100%;
         display: flex;
      }  
   
      .main-menu {
         display: flex;
         align-items: center;
         gap: .5rem;
      }
   }
</style>