---

---

<nav>
   <div class="logo">

   </div>
   <div class="links">
      <ul class="links__list">
         <li><a href="/">Home</a></li>
         <li><a href="/about/">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </div>
</nav>

<style>
   @layer components {
   nav {
      display: flex;
   }

   .links {
      display: none;

      &__list {
         display: flex;
         align-items: center;
         gap: .5rem;
         font-size: 2rem;
      }
   }

   @media (min-width: 568px) {
      .links {
         display: flex;
      }
   }
</style>
