---
const pages = ['home', 'about', 'services', 'blog', 'contact'];
---
<nav class="nav-container">
   <button class="button has-icon home-button">
      <a href="/" class="logo"></a>
   </button>
   <ul class="main-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/blog">Blog</a></li>
   </ul>
   <button class="button primary-button contact-container">
      <a href="/contact">Contact</a>
   </button>
</nav>
<style>
   @layer components {
      .container .top-nav-container {
         align-items: center;
         display: flex;
         gap: .5rem;
      }

      .container {
         margin-inline: auto;
         padding-inline: 1rem;
      }

      .top-nav-main {
         display: var(--dsp-flex-md);
      }

      .main-nav {
         height: 100%;
         display: flex;
      }  
   
      .main-menu {
         display: flex;
         align-items: center;
         gap: .5rem;
      }
   }
</style>