---
const pages = ['home', 'about', 'services', 'blog', 'contact'];
---
<div class="top-nav-container">
   <a class="logo">

   </a>
   <button title="Open main menu" class="links"></button>
      
   </div>
</div>
<div class="top-nav-links">
   <nav class="main">
      <ul class="main__menu">
         <li><a href="/">Home</a></li>
         <li><a href="/about/">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </nav>
</div>

<style>
   @layer components {
      nav {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 100%;
         padding-inline: .5rem;
      }  
   
      .links {
         display: var(--dsp-inline-block-md);

         .links__list {
            display: flex;
            align-items: center;
            gap: .5rem;
         }
      }
   }
</style>